body{
    background-image: url("../img/galaxy.gif");
}
h1{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.planets{
    width: 400px;
}